---
import About from "@components/About.astro";
import Hero from "@components/Hero.astro";
import Mouse from "@components/Mouse.astro";
import Layout from "@layouts/Layout.astro";
import Creations from "@components/Creations/Creations.astro";
import Skills from "@components/Skills.astro";
import Quote from "@components/Quote.astro";
import Contact from "@components/Contact/Contact.astro";
import "../index.css";

export type PostFrontmatter = {
  id: string,
  title: string,
  author: string,
  miniature: string
  link: string
  stack: string[]
};
---

<Layout title="Anthony Espirat - Dev fullstack js">
  <Hero />
  <Mouse />
  <div class="flex flex-col gap-24 mt-24">
    <About />
    <Creations />
    <Skills />
    <Quote />
    <Contact />
  </div>
</Layout>

<style>
  
</style>
