---
---

<div id="about" class="p-8 rounded leading-8 font-light">
  <h2 class="text-4xl mb-6 font-medium">
    <span class="text-primary">Q</span>ui suis je ?
  </h2>
  <p class="mt-4">
    Je me nomme <b>Anthony Espirat</b>, je suis situé en Auvergne près de
    Clermont-Ferrand. Dans mes loisirs, j'aime m’adonner aux jeux vidéo, écouter
    de la musique, explorer la nature et sillonner tout ce qui est lié à
    l'univers du web.
  </p>
  <p>
    Autodidacte dans l’âme, j’aime apprendre et découvrir. En 2021, j'ai décidé
    d'intégrer la formation Web Design du GRETA Auvergne. Cette formation me
    permet aujourd'hui d'étudier et d’approfondir tout le cheminement que
    nécessite la création d'un site web (brainstorming, moodboard, maquette,
    code, etc.). Grâce à cette formation, j'ai pu valider le <b>Titre Pro Design Web</b>
  </p><p>
    Pour compléter mon parcours d'apprentissage, j'ai intégré la formation <b>Développeur Fullstack JS</b
    > de l'école en ligne <b>O'Clock</b>.
  </p>
</div>

<style>
  #about {
    background: linear-gradient(
      265.54deg,
      rgba(248, 248, 248, 0.05) 38.51%,
      rgba(248, 248, 248, 0) 100.41%
    );
    border: 1px solid rgba(175, 175, 175, 0.3);
  }
  #about p {
    @apply mb-3 tracking-wide;
  }
  #about b {
    font-weight: 600;
    letter-spacing: 1px;
  }
</style>
