---
---
<script>
  const r = document.querySelector<HTMLElement>(':root');
  // r.style.setProperty('--cirlce-width', '1950px');
</script>

<section
  id="hero"
  class="h-[50vh] md:h-[75vh] w-full flex items-center justify-center flex-col gap-8 text-center"
>
  <h1 class="text-6xl md:text-7xl lg:text-9xl font-medium">Anthony Espirat</h1>
  <h2 class="text-3xl md:text-4xl mb-3">
    Developpeur web fullstack javascript
  </h2>
  <p class="text-gray-400 text-xl">Ma passion, c’est le web</p>
</section>

<style>
  :root {
    --cirlce-width: 1150px;
    --circle-after-bottom: 0%;
    --circle-before-bottom: 0%;
    --cirlce-min-height: 850px;
    --circle-after-right: -35vw;
    --circle-before-right: -35vw;

    @media screen and (max-width: 1535px) {
      --circle-after-right: -30vw;
      --circle-before-right: -30vw;
    }

    @media screen and (max-width: 1280px) {
      --cirlce-width: 1050px;
      --circle-after-bottom: -5%;
      --circle-before-bottom: -2%;
      --cirlce-min-height: 800px;
      --circle-after-right: -300px;
      --circle-before-right: -350px;
    }

    @media screen and (max-width: 768px) {
      --cirlce-width: 900px;
      --circle-after-bottom: -15%;
      --circle-before-bottom: -10%;
      --cirlce-min-height: 550px;
      --circle-after-right: -300px;
      --circle-before-right: -350px;
    }
  }
  #hero {
    position: relative;
  }
  #hero:after {
    content: "";
    position: absolute;
    right: var(--circle-after-right);
    bottom: var(--circle-after-bottom);
    display: block;
    min-height: var(--cirlce-min-height);
    width: var(--cirlce-width);
    border-radius: 100%;
    border: 1px solid rgba(86, 136, 199, 0.4);
    transform: rotate(30deg);
    z-index: -2;
  }
  #hero:before {
    z-index: -2;
    content: "";
    position: absolute;
    right: var(--circle-before-right);
    bottom: var(--circle-before-bottom);
    display: block;
    min-height: var(--cirlce-min-height);
    width: var(--cirlce-width);
    border-radius: 100%;
    border: 1px solid rgba(86, 136, 199, 0.4);
    transform: rotate(50deg);
  }

  #hero h1:after {
    content: url("../assets/images/radial-min.png");
    display: block;
    z-index: -1;
    position: absolute;
    top: -100px;
    right: -5%;
    width: 45%;
    opacity: 1;
    min-height: 100%;
    z-index: -1;
  }
</style>
