---

---

<section id='hero' class="h-[80vh] w-full flex items-center justify-center flex-col gap-6">
  <h1 class='text-6xl lg:text-8xl font-medium'>Anthony Espirat</h1>
  <h2 class='text-2xl lg:text-3xl'>Web design et Dev Front dans un seul corps</h2>
  <p>Ma passion, c’est le web</p>
</section>