---
---

<section
  id="hero"
  class="h-[50vh] md:h-[75vh] w-full flex items-center justify-center flex-col gap-8 text-center"
>
  <h1 class="text-6xl md:text-7xl lg:text-9xl font-medium">Anthony Espirat</h1>
  <h2 class="text-3xl md:text-4xl mb-3">
    Developpeur web fullstack javascript
  </h2>
  <p class="text-gray-400 text-xl">Ma passion, c’est le web</p>
</section>

<style>
  #hero {
    position: relative;
  }
  #hero:after {
    content: "";
    position: absolute;
    right: -200px;
    bottom: -20%;
    display: block;
    min-height: 750px;
    width: 900px;
    border-radius: 100%;
    border: 1px solid rgba(86, 136, 199, 0.4);
    transform: rotate(30deg);
    z-index: -2;
  }
  #hero:before {
    z-index: -2;
    content: "";
    position: absolute;
    right: -200px;
    bottom: -15%;
    display: block;
    min-height: 750px;
    width: 900px;
    border-radius: 100%;
    border: 1px solid rgba(86, 136, 199, 0.4);
    transform: rotate(45deg);
  }

  #hero h1:after {
    content: url("../assets/images/radial-min.png");
    display: block;
    z-index: -1;
    position: absolute;
    top: -100px;
    right: -5%;
    width: 45%;
    opacity: 1;
    min-height: 100%;
    z-index: -1;
  }
</style>
