---

---
<nav class="flex-1 px-5 w-full">
  <ul class="list hidden sm:flex sm:gap-2  md:gap-6 lg:gap-12 justify-center">
    <li>
      <a href="/">Accueil</a>
    </li>
    <span>&bull;</span>
    <li>
      <a href="#about">À propos</a>
    </li>
    <span>&bull;</span>
    <li>
      <a href="#creations">Mes créations</a>
    </li>
  </ul>
</nav>