---
import Header from "@components/Header.astro";
import "@fontsource/poppins/400.css";
import "@fontsource/poppins/300.css";
import "@fontsource/poppins/500.css";

export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="bg-dark">
    <div id="wrapper" class="min-h-screen">
      <Header />
      <slot />
    </div>
    <script>
      const modal: HTMLDialogElement = document.getElementById("modal");
      const trigger = document.getElementById("trigger");
      trigger.addEventListener("click", () => {
        modal.showModal();
      });
      modal.addEventListener("click", () => {
        modal.close();
      });
    </script>
  </body>
</html>

<style is:global>

  html {
      scrollbar-color: rgba(31, 82, 223, 0.3) transparent;
      scrollbar-width: thin;
      scroll-behavior: smooth;
      overflow-y: auto;
    }

	#wrapper {
		@apply text-white lg:container px-4 mx-auto
	}

  body {
    @apply bg-dark relative;
    overflow-y: auto;
  }

  body::-webkit-scrollbar {
   width: 5px;
   height: 100%;
   background: transparent;
   border-radius: 5px;
   position: fixed
}

body::-webkit-scrollbar-thumb {
   background: hsla(0, 0%, 100%, .3);
   border-radius: 5px
}

</style>

