---
import Header from "../components/Header.astro";
import "@fontsource/poppins/400.css";
import "@fontsource/poppins/300.css";
import "@fontsource/poppins/500.css";

export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="bg-dark">
    <div id="wrapper" class="min-h-screen">
      <Header />
      <slot />
    </div>
  </body>
</html>

<style is:global>

	#wrapper {
		@apply text-white bg-dark lg:container px-4 mx-auto
	}
</style>

